variables:
  LC_ALL: en_US.UTF-8
  REPO_URL_BASE: https://harbottle.gitlab.io/harbottle-main
  PRIMARY_REPO_URL: https://copr-be.cloud.fedoraproject.org/results/harbottle/main
  GPG_NAME: harbottle
  GPG_FILE_NAME: harbottle-main
  GPG_KEY_ID: 540ecf1b
  GPG_PUBLIC_KEY: "-----BEGIN PGP PUBLIC KEY BLOCK-----\nVersion: GnuPG v2.0.22 (GNU/Linux)\n\nmQENBFf82UsBCAC9QQNkX1WtimanmKp4aabl3gEY85IhHTOnKKc3p3IuG7iIalW+\nTGt+GCLEU7irEZj4RI1a4ltP37SxlsorwIBdg7YbZvo313yWkva/IcyeGdzC0u6u\nNJy5GHjc9VMuYz+Kv6jY0V+/AajtHJdiCogNKT2c3M9ptvf+8MYGtcF4cQs6eCn7\nmdeMo4Yo+ZhTKD85c4AXKoWgHjZeWDZUbtFaQwV3ORKYXW0N4pI43OQDRej7WKiy\nERVNNgj7QucfknjsfpgwQOWTJpEchVbVJ8Zs1U659HStj1iOdqMZkVnq9CNwbS4q\nUcy11mQ5V4bF8i+N7yiqkBDrfyhSPACJeI2nABEBAAG0JVJpY2hhcmQgR3JhaW5n\nZXIgPGdyYWluZ2VyQGdtYWlsLmNvbT6JATkEEwECACMFAlf82UsCGwMHCwkIBwMC\nAQYVCAIJCgsEFgIDAQIeAQIXgAAKCRDZl9b1VA7PG9UaB/0RjeLkj7UFUcrCJo4B\nmGtDPCoVLiwAgBHOa44PypuUYmoHUwz5E2gq3ySThcuqy19mutQFmvHTk+JbD53V\nPIGeV++753webMF28fAo7Wzhqt2RvaufRSETmSybn7Ev9w8TRMpMoOjdlUkJl6XZ\nIqPE10aUa2SPV/YrRpshU8jvL6b5vSG3iMK78VUioYk2Cpa9tZMR1sNLnQJF7eMl\nAKtOf3s1J9bICPpS3ogFx1QpDGwHS6PPT7lxTaFIl1YQ2aKdTfGDsbKoZpLqce0X\nox3I1sz0/lxo8C2UbrV00fxAGI4O75hFFEetxU8vycs3EOlLL8UawLsdQw16t1hz\n9SECuQENBFf82UsBCADEEoRrCfftA6P1/lm2M8I9lqt/iauOG7py+ipRE0nwZ2cO\nr+q/Kst7K8xgbVgd1RnFo6mCWl7XvUL+n6yYcqZyztvTKnum68jmgqumQBcyqeny\npYmZcAoVGr+cKHwXshY5NpYj5ZFRhV5rPqQnowd/PuH67sW4rwQRlQZFOKiDvHSm\n+sy0hZhPvusi1B3lZROCoq3jQs1y+oMTorAL2kmsesENrAoVyPAPgCFPIi2WSybz\nIvt9AnZiUXQygnA1Jco66isPpQlX9DFqkCOc0OlvzKbf/GYHJc3lNYkry9h9UCbo\ngdKm0n5BzvhFdmkRLV0b7bpzurF3T79f/5F2PGUZABEBAAGJAR8EGAECAAkFAlf8\n2UsCGwwACgkQ2ZfW9VQOzxvzDQgAo6aZWK7fRLPVy4Ys6QhjzQLRLtbXBShs21U0\nttD/ybUKGk7NdUQtmfAD5ffmj7LZfytgOIMxQIx6fDhlnNKhZn0KVmIRlrekv4A+\nCi51EuMjENEsdVne8MoXFPRNsG0Frde4OOTC8l6OqQ5zw93o8E7w6m6PIS/aYCX8\n8SK1CUqJbaOjUM/tX72R0prw9xV0oH7Wxzumxy7WOG6jmmUc7Gdeq5a3HHqgzjza\njtwhMSnHbtt/9BACttUgBuPxI+bL4Gy2uTjRdD20fg8hfF8oii4c2zWHKGmk6gXA\nrGEbVxV+/FfI59O/BuWhNlJR/jXV3zIE0i4azEtToOw/MFK6ZA==\n=YS8y\n-----END PGP PUBLIC KEY BLOCK-----\n"

stages:
- docker
- srpm
- rpm
- copr
- deploy

workflow:
  rules:
  - if: $CI_MERGE_REQUEST_IID
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

cache:
  untracked: false

docker:el7:
  stage: docker
  image: docker
  services: ['docker:dind']
  script:
  - cd Dockerfiles/el7
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE:7 || true
  - docker build --pull --cache-from $CI_REGISTRY_IMAGE:7 -t $CI_REGISTRY_IMAGE:7 .
  - docker push $CI_REGISTRY_IMAGE:7
  retry: {max: 2}
  rules:
  - changes: ['Dockerfiles/el7/Dockerfile']

docker:el8:
  stage: docker
  image: docker
  services: ['docker:dind']
  script:
  - cd Dockerfiles/el8
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE:8 || true
  - docker build --pull --cache-from $CI_REGISTRY_IMAGE:8 -t $CI_REGISTRY_IMAGE:8 .
  - docker push $CI_REGISTRY_IMAGE:8
  retry: {max: 2}
  rules:
  - changes: ['Dockerfiles/el8/Dockerfile']

.srpm_el7:
  stage: srpm
  image: registry.gitlab.com/harbottle/harbottle-main:7
  services: []
  script: ['./srpm.sh $(echo $CI_JOB_NAME| cut -d":" -f 3) epel-7-x86_64 main']
  artifacts:
    paths: ['rpmbuild/SRPMS/*.src.rpm']
  dependencies: []
  retry: {max: 2}

.srpm_el8:
  stage: srpm
  image: registry.gitlab.com/harbottle/harbottle-main:8
  services: []
  script: ['./srpm.sh $(echo $CI_JOB_NAME| cut -d":" -f 3) epel-8-x86_64 main']
  artifacts:
    paths: ['rpmbuild/SRPMS/*.src.rpm']
  dependencies: []
  retry: {max: 2}

.rpm_el7:
  stage: rpm
  image: registry.gitlab.com/harbottle/harbottle-main:7
  services: []
  script: ['./rpm.sh $(echo $CI_JOB_NAME| cut -d":" -f 3) epel-7-x86_64 main']
  artifacts:
    paths: ['rpmbuild/RPMS/*/*.rpm']
  dependencies: []
  retry: {max: 2}

.rpm_el8:
  stage: rpm
  image: registry.gitlab.com/harbottle/harbottle-main:8
  services: []
  script: ['./rpm.sh $(echo $CI_JOB_NAME| cut -d":" -f 3) epel-8-x86_64 main']
  artifacts:
    paths: ['rpmbuild/RPMS/*/*.rpm']
  dependencies: []
  retry: {max: 2}

.copr_el7:
  stage: copr
  image: $CI_REGISTRY_IMAGE:7
  services: []
  script: ['./copr.sh $(echo $CI_JOB_NAME| cut -d":" -f 3) epel-7-x86_64 main']
  retry: {max: 2}

.copr_el8:
  stage: copr
  image: $CI_REGISTRY_IMAGE:8
  services: []
  script: ['./copr.sh $(echo $CI_JOB_NAME| cut -d":" -f 3) epel-8-x86_64 main']
  retry: {max: 2}


<% require 'yaml' -%>
<% el7_exclusions = YAML::load_file(File.join(__dir__, 'packages.yml'))['el7_exclusions'] -%>
<% el8_exclusions = YAML::load_file(File.join(__dir__, 'packages.yml'))['el8_exclusions'] -%>
<% for @pkg in Dir.entries('specs').select { |f| File.file?(File.join('specs', f)) }.map {|f| File.basename(f,'.*')}.sort -%>
  <%- if !el7_exclusions.include?(@pkg) -%>
srpm:el7:<%= @pkg %>:
  extends: .srpm_el7
  rules:
  - changes:
    - specs/<%= @pkg %>.spec
    - sources/<%= @pkg %>/

rpm:el7:<%= @pkg %>:
  extends: .rpm_el7
  needs:
  - job: 'srpm:el7:<%= @pkg %>'
    artifacts: false
  rules:
  - if: $CI_MERGE_REQUEST_IID
    changes:
    - specs/<%= @pkg %>.spec
    - sources/<%= @pkg %>/

copr:el7:<%= @pkg %>:
  extends: .copr_el7
  needs:
  - job: 'srpm:el7:<%= @pkg %>'
    artifacts: true
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    changes:
    - specs/<%= @pkg %>.spec
    - sources/<%= @pkg %>/*

  <%- end -%>
  <%- if !el8_exclusions.include?(@pkg) -%>
srpm:el8:<%= @pkg %>:
  extends: .srpm_el8
  rules:
  - changes:
    - specs/<%= @pkg %>.spec
    - sources/<%= @pkg %>/

rpm:el8:<%= @pkg %>:
  extends: .rpm_el8
  needs:
  - job: 'srpm:el8:<%= @pkg %>'
    artifacts: false
  rules:
  - if: $CI_MERGE_REQUEST_IID
    changes:
    - specs/<%= @pkg %>.spec
    - sources/<%= @pkg %>/

copr:el8:<%= @pkg %>:
  extends: .copr_el8
  needs:
  - job: 'srpm:el8:<%= @pkg %>'
    artifacts: true
  retry: {max: 2}
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    changes:
    - specs/<%= @pkg %>.spec
    - sources/<%= @pkg %>/*

  <%- end -%>
<% end -%>
pages:
  stage: deploy
  image: $CI_REGISTRY_IMAGE:7
  script: ['ruby build.rb']
  artifacts:
    paths: ['public']
  rules: [if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH]
  dependencies: []
  retry: {max: 2}

rpm-sonarqube:
  stage: deploy
  trigger: harbottle/rpm-sonarqube
  rules: [if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH]

rpm-opa:
  stage: deploy
  trigger: harbottle/rpm-opa
  rules: [if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH]
